{
  "env": {
    "server": {
      "presets": ["env", "flow"],
      "plugins": [
        "transform-object-rest-spread",
        ["module-resolver", {
          "root": ["./src/server"],
          "alias": {
            "config": "./config",
            "helpers": "./helpers",
            "models": "./models",
            "schema": "./schema",
            "services": "./services"
          }
        }]
      ]
    },
    "browser": {
      "presets": ["react", "env", "flow"],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
